/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */

/* components */
@import '../components/button.css';
@import '../components/footer.css';
@import '../components/header.css';

/* CUSTOM STYLE */

/* header start */
.head{
    padding: 5px 0 60px 0;
    background-color: transparent;
}
.menu{
    display: flex;
    gap: 1em;
    font-size: 14px; 
}
.navmenu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    background-color: blue;
}
.burger{
    display: none;
    border: none;
    background-color: transparent;
}
.droplist{
    position: relative;
}
.dropdown {
    background-color: #fff;
    padding: 1em 0;
    position: absolute; 
    display: none;
    border-radius: 4px;
    top: 30px;
    left: -5px;
}
.navmenu a{
    text-decoration: none;
    color: #fff;
}
.navmenu li{
    list-style: none;
    padding: 5px 14px;
}
.dropdown li + li {
    margin-top: 1px;
   }
.dropdown li {
    padding: 0.5em 1em;
    width: 12em;
}
.dropdown a{
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}
.dropdown li:hover {
    background-color: lightgray;
}
   
.droplist:hover .dropdown {
    display: block;
}
/* sliding menu */

/* header end */

/* hero start */
/* hero end */

/* features start */
/* features end */

/* sApp start */
/* sApp end */

/* Device start */
/* Device end */

/* how sApp works start */
/* how sApp works end */

/* interface start */
/* interface end */

/* Testimonials start */
/* Testimonials end */

/* purchase plans start */
/* purchase plans end */

/* FAQ start */
/* FAQ end */

/* Team experts start */
/* Team experts end */

/* Appstore section start */
/* Appstore section end */

/* Subscribe start */
/* Subscribe end */

/* Stay tuned start */
/* Stay tuned end */

/* Footer start */
/* Footer end */

@media (max-width: 786px){
    .menu { 
            display:none;
            position: absolute;
            background-color:blue;
            right: 0;
            /* left: 0; */
            text-align: center;
            padding: 16px 0;
       }
       .menu li:hover {
            display: inline-block;
            transition: 0.4s ease;
       }
       .menu li + li {
            margin-top: 12px;
       }
       .burger {
            display: block;
            color: #fff;
            font-size: 40px;
       }
       .burger:hover{
        color: grey;
        cursor: pointer;
       }
       .dropdown {
            left: 10%;
            top: 5px;
            transform: translateX(35%);
       }
       .dropdown li:hover {
            background-color: blue;
       }
}